*.log
*.aux
*.toc
tp1/informe/informe.pdf
tp2/informe/informe.pdf
tp3/informe/informe.pdf
*.gz
*.out
*.o
*.a
*.idx
tp1/ej2/ej2
tp1/ej2/test
tp1/ej1/ej1
tp1/ej3/ej3
tp2/ej2/ej2
tp2/ej1/ej1
tp2/ej3/ej3
tp3/exacto/algoritmo_exacto
*~
